.headline {
	padding: 50px;

}

.headline_title {
	text-align: center;
	font-size: 4em;
	margin: 0 auto;
	margin-top: 30px;
	border: 2px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
}

body {
	background-color: #FEFDFB;
}

li {
  list-style-type: none;
}

.everything {
	display: flex;
	justify-content: center;
	height: 100%;
}

h1 {
	font-family: 'Nunito', sans-serif;
	font-size: 48px;
	text-align: center;
	margin-bottom: 0
}

.navbar {
	display: flex;
	justify-content: center;
}

.navbar button {
    border: 1px solid black;
    color: #191500;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 1px;
    font-family: 'Nunito', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

.item {
	display: flex;
	justify-content: left;
	border-radius: 5px;
    padding: 10px;  
	height: 15px;
	margin-bottom: 5px;
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
	vertical-align: middle;
	margin-left: 100px;
}

.createTheItem {
	display: flex;
	justify-content: center;
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
	margin-top: 5px;
}

.createButton {
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
}